@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: founders;
    src: url(./fonts/FoundersGroteskXCond-Bold.otf);
}

@font-face {
    font-family: mont;
    src: url(./fonts/NeueMontreal-Regular.otf);
}

@font-face {
    font-family: extraf;
    src: url(./fonts/FoundersGrotesk-Regular.otf);
}